{:source-paths ["src/" "test/" "node_modules/@lonocloud/cljs-utils/src"]

 :dependencies [[funcool/promesa "8.0.450"]
                [cljs-bean "1.8.0"]]

 :builds
 {:dctest
  {:target :node-script
   :main dctest.core/-main
   :output-to "build/dctest.js"
   :devtools {:enabled false :console.support false}

   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}

  :test
  {:target :node-test
   :output-to "build/test.js"
   :compiler-options
   {:optimizations :simple
    :source-map-use-fs-paths true}}
  }}
